* {
  margin: 0;
  padding: 0;
}

.BoxSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ItensSkills h1 {
  text-align: center;
}

.ItensSkills summary::marker{
  color: transparent;
}

.ItensSkills summary {
  position: relative;
  color: #7872E6;
}

.ItensSkills summary::before{
  content: '+';
  position: absolute;
  font-size: 20px;
  right: 0;
  font-weight: 700;
  transform: translate(50%,50%);
}


details[open] > summary:first-of-type {
  
}

.Skills {
  width: auto;
  display: block;
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
  align-items: center;
  margin: 0 15px;
}

.Skills > img,
.Skills > svg {
  width: 30px;
  height: 30px;
  transform: translate(0);
}

.JS svg{
  background-color: black;
  color: #f0db4f;
}

.CSS3 svg{
  color: #264de4;
} 

.HTML5 svg {
  color: #e34c26;
}

.Sass svg {
  color: #cc6699;
}

.Oracle svg {
  color: #f80000;
}

.mySQL svg {
  color: #00758F;
}

.CSharp {
  position: relative;
}

.CSharp svg {
  color: #6500d0;
}

.CSharp span {
  display: none;
  position: absolute;
}

.CSharp:hover span {
  display: block;
}